<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <%# if user_signed_in? %>
       <div class="greeting">
         <i> こんにちは、</i>
         <%= link_to current_user.name + "さん", root_path, class: :greeting__link%>
       </div> 
    <%# // ログインしているときは上記を表示する %>
    <%# else %>
    <div class="card__wrapper">
     <%# end %>
      <%= render partial: 'prototype' , collection: @prototype %>
    </div>
  </div>
</main>